
p, a, li {
	font-family: 'Roboto', sans-serif;
	color: #4c4c4c;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

.tabs {
    text-align: center;
    margin: auto;
}
.active-tab {
    background: #1aad26 !important;
    color: #fff !important;
}
.port {
    margin-bottom: 30px;
}

#home-page, .block {
    display: block !important;
    width: 93% !important;
    margin: auto;
    margin-bottom: 3px;
}

.link {
    display: inline-block;
    color: #000;
    background: #fff;
    text-align: center;
    line-height: 30px;
    padding: 0 10px;
    width: 30%;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 3px;
}

.block {
    width: 93%;
    display: block;
    margin: auto;
}

.hamburger {
    padding: 0;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    -o-transition-property: opacity, filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    position: relative;
    z-index: 2000;
}
.hamburger:hover {
    opacity: 0.7;
    cursor: pointer;
}
.hamburger.is-active:hover {
    opacity: 0.7;
    cursor: pointer;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: #fff;
}
.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
    z-index: 2000;
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -10px;
}
.hamburger-inner::after {
    bottom: -10px;
}

/* * Spring */
.hamburger--spring .hamburger-inner {
    top: 2px;
    -webkit-transition: background-color 0s 0.13s linear;
    -o-transition: background-color 0s 0.13s linear;
    transition: background-color 0s 0.13s linear;
    -webkit-transition-delay: .22s;
         -o-transition-delay: .22s;
            transition-delay: .22s;
}
.hamburger--spring .hamburger-inner::before {
    top: 10px;
    -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-delay: .22s;
         -o-transition-delay: .22s;
            transition-delay: .22s;
}
.hamburger--spring .hamburger-inner::after {
    top: 20px;
    -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-delay: .22s;
         -o-transition-delay: .22s;
            transition-delay: .22s;
}
.hamburger--spring.is-active .hamburger-inner {
    -webkit-transition-delay: 0.22s;
         -o-transition-delay: 0.22s;
            transition-delay: 0.22s;
    background-color: transparent !important;
}
.hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
            transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
            transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/*-- -------------------------- -->
<---         NAVIGATION         -->
<--- -------------------------- -*/

/* Hidden Elements */
.navbar-menu img,
.call-us,
.quote-nav-button {
	display: none;
}

/* Top Mobile Navigation */
.mobile-wrapper {
    height: 70px;
    position: absolute;
    width: 96%;
    margin: auto;
}

.mobile-nav {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: space-between;;
	    -ms-flex-pack: space-between;;
	        justify-content: space-between;
    height: 96%;
    width: 100%;
    max-width: 96%;
    margin: auto;
}

.hamburger {
	position: absolute;
	right: 0px;
}

/* Navigation Links */


.mobile-wrapper img {
    width: 100%;
    max-width: 307px;
    position: relative;
    z-index: 1000;
    top: 70px;
}

.navbar-menu {
    overflow: hidden;
	background: #000;
    width: 0;
    top: 0;
	position: absolute;
    right: 0;
    height: 100vh;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
    z-index: 1000;
    max-width: 1225px;
}

.side-nav {
    overflow: hidden;
	padding: 40px 0;
	position: absolute;
	right: 2em;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
	-webkit-transition-delay: .2s;
	     -o-transition-delay: .2s;
	        transition-delay: .2s;
}

.side-nav ul {
	margin: 0;
	text-align: right;
    list-style: none;
    margin-top: 50px;
}

.side-nav ul li {
    margin-bottom: 20px;
    opacity: 0;
    -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
            transform: translateY(50px);
}

.side-nav ul li.open {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease;
}

.side-nav ul li.open:nth-child(2) {
    -webkit-animation-delay: .1s;
            animation-delay: .1s;
}

.side-nav ul li.open:nth-child(3) {
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
}

.side-nav ul li.open:nth-child(4) {
    -webkit-animation-delay: .3s;
            animation-delay: .3s;
}

.side-nav ul li.open:nth-child(5) {
    -webkit-animation-delay: .4s;
            animation-delay: .4s;
}

.side-nav ul li.open:nth-child(6) {
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
}

.side-nav ul li.open:nth-child(7) {
    -webkit-animation-delay: .6s;
            animation-delay: .6s;
}

.side-nav ul li.open:nth-child(7) {
    -webkit-animation-delay: .6s;
            animation-delay: .6s;
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: translateY(50px);
                transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        -webkit-transform: translateY(50px);
                transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

#on-top a {
    text-decoration: none;
    font-weight: 800;
    letter-spacing: .025em;
    font-style: italic;
	padding: 5px 10px 5px 10px;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
	-webkit-transition-delay: .2s;
	     -o-transition-delay: .2s;
	        transition-delay: .2s;
	opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(75px);
        -ms-transform: translateY(75px);
            transform: translateY(75px);
}

.active-menu {
    color: #fff;
    position: relative;
}

.active-menu:before {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -20px;
    height: 2px;
    width: 20px;
    background: #fff;
}

/* Tablet */
@media only screen and (min-width: 768px) {

    .container {
        max-width: 694px;
        padding: 0;
        margin: auto;
    }

    #home-page {
        width: 605px !important;
    }

    .mobile-wrapper img {
        top: 67px !important;
    }

    .hamburger {
        top: 30px;
        right: 0px;
    }

    .button-solid {
        width: 192px;
        font-size: 17px;
    }

    .side-nav ul {
        margin-top: 123px;
    }

    .side-nav ul li {
        margin-bottom: 40px;
    }

    #on-top a {
        font-size: 30px;
    }

}

/* Desktop */
@media screen and (min-width: 1024px) {

    .tabs {
        display: none !important;
    }

    /* Hidden Elements */
	.mobile-wrapper {
		display: none;
	}

	/* Un-Hidden Elements */
	#on-top a {
		opacity: 1;
		visibility: visible;
    }

    .svg-group {
        width: 1600px;
    }

	.container {
        max-width: 1100px;
    }
    
    .navbar-menu .logo {
        display: inline-block;
        position: absolute;
        left: 0;
    }

	.navbar-menu .logo img {
		display: block;
		margin: 0 !important;
		position: relative;
		left: 2em;
        height: auto;
        width: 436px;
        z-index: 1000;
    }
    
    .desktop-nav {
        display: inline-block !important;
        width: 102px;
        margin-right: 40px;
        margin-top: 49px;
    }

	/*navbar */
	nav {
		width: 100%;
		position: absolute;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
        height: 124px;
        background: transparent;
        z-index: 100;
    }

	.navbar-menu {
        width: 100% !important;
        height: 190px;
		margin: auto;
		position: absolute;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		z-index: 100;
		left: 0;
		background: transparent;
	}

	#on-top {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
                justify-content: flex-end;
        margin: 0;
        display: block;
        margin-top: 50px;
	}

	.side-nav {
        top: 0;
        padding: 0;
        display: block;
		width: 100%;
		height: 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
        right: 0;
        overflow: visible;
	}

	.side-nav ul li {
		margin: 0 43px 0 0;
		text-align: right;
    }

	.side-nav #on-top a {
		padding: 20px 0 10px 0;
        color: #fff;
        font-weight: normal;
		-webkit-transition: .2s ease;
		-o-transition: .2s ease;
		transition: .2s ease;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .side-nav #on-top a:hover {
        color: #fff;
    }
    
    .side-nav ul li{
        opacity: 1;
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
    }
    
	.side-nav ul li a:hover {
		cursor: pointer;
		opacity: 1;
		-webkit-transition: .2s ease;
		-o-transition: .2s ease;
        transition: .2s ease;
        color: #fff;
	}

	#on-top li  {
        display: inline-block;
    }
    
    .active-menu {
        color: #fff !important;
        position: relative;
    }

    .active-menu:before {
       display: none; 
    }

    .active-menu:before {
        content: '';
        position: absolute;
        display: inline-block;
        height: 2px;
        width: 100%;
        background: #fff;
        vertical-align: middle;
        left: auto;
        top: auto;
        bottom: -2px;
        margin-right: 5px;
    }
}